#imageEditor1 {
    margin:auto;
    padding:5px;
    border:1px solid #4b4b4b;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    background-color:#ababab;
}

#editorContainer1 {
    display:flex;
    overflow: auto;
    width: 1280px;
    height: 580px;
}

#editor {
    display:block;
    margin: auto;
}

#toolbar {
    display:block;
    margin-right: 50px;
}

#resizer {
    border:2px dashed #000
}

#toolbar button {
    padding: 10px 20px 10px 20px;
}